<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IT대학 소개</title>
    </head>
    <body>
        <header>IT대학</header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">홈</a></li>
                <li><a href="{{ url_for('electronics') }}">전자공학부</a></li>
                <li><a href="{{ url_for('computer') }}">컴퓨터학부</a></li>
                <li><a href="{{ url_for('electric') }}">전기공학과</a></li>
                <li><a href="{{ url_for('mobile') }}">모바일공학과</a></li>
            </ul>
        </nav>
        {% block content %}
        <!-- 다른 컨텐츠들이 표시되는 부분 -->
        {% endblock %}
    </body>
</html>
